.page {
  display: flex;
  flex-direction: row;
  flex: auto;
}

.canvas-page-container {
  display: flex;
  background-color: #151617;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.canvas-container {
  width: 80%;
  height: 80%;
}
